@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

}

body {

    font-family: var(--font);

    background: var(--light);

    color: var(--dark);

    overflow-x: hidden;

}

img {

    width: 100%;

    display: block;

}

a {

    text-decoration: none;

    color: inherit;

}

ul {

    list-style: none;

}

button {

    font-family: inherit;

    cursor: pointer;

    border: none;

}

section {

    padding: 90px 8%;

}

.container {

    max-width: 1280px;

    margin: auto;

}

.title {

    font-size: 2.8rem;

    font-weight: 700;

    margin-bottom: 18px;

}

.subtitle {

    color: var(--gray);

    font-size: 1.05rem;

    line-height: 1.8;

    max-width: 760px;

}

.btn {

    padding: 15px 34px;

    border-radius: 50px;

    background: linear-gradient(135deg,
            var(--primary),
            var(--success));

    color: white;

    font-size: 1rem;

    font-weight: 600;

    transition: var(--transition);

    box-shadow: var(--shadow-sm);

}

.btn:hover {

    transform: translateY(-4px);

    box-shadow: var(--shadow);

}

.btn:active {

    transform: scale(.96);

}

.btn-outline {

    padding: 15px 34px;

    border-radius: 50px;

    border: 2px solid white;

    background: transparent;

    color: white;

    transition: var(--transition);

}

.btn-outline:hover {

    background: white;

    color: var(--primary);

}

@media(max-width:992px) {

    section {

        padding: 70px 6%;

    }

    .title {

        font-size: 2.3rem;

    }

}

@media(max-width:768px) {

    section {

        padding: 60px 5%;

    }

    .title {

        font-size: 2rem;

    }

}

@media(max-width:576px) {

    section {

        padding: 55px 20px;

    }

    .title {

        font-size: 1.8rem;

    }

    .btn {

        width: 100%;

    }

    .btn-outline {

        width: 100%;

    }

}