.header {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    padding: 18px 0;

    z-index: 999;

    transition: .4s;

}


.header.active {

    background: white;

    box-shadow: 0 8px 25px rgba(0, 0, 0, .10);

}



.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

}



.logo {

    display: flex;

    align-items: center;

    gap: 12px;

    color: var(--primary);

}



.logo svg {

    font-size: 2rem;

}



.logo h2 {

    font-size: 1.6rem;

}



.nav {

    display: flex;

    gap: 35px;

}



.nav a {

    font-weight: 600;

    position: relative;

    transition: .3s;

}



.nav a:hover {

    color: var(--primary);

}



.nav a::after {

    content: "";

    position: absolute;

    left: 0;

    bottom: -7px;

    width: 0;

    height: 3px;

    background: var(--primary);

    transition: .3s;

}



.nav a:hover::after {

    width: 100%;

}



.menu-mobile {

    display: none;

    background: none;

    color: var(--primary);

    font-size: 1.8rem;

}



/* TABLET */

@media(max-width:900px) {


    .menu-mobile {

        display: block;

        z-index: 1001;

    }



    .nav {


        position: fixed;


        top: 0;


        right: -100%;


        width: 300px;


        height: 100vh;


        background: white;


        display: flex;


        flex-direction: column;


        justify-content: center;


        align-items: center;


        gap: 35px;


        transition: .4s;


        box-shadow: -10px 0 30px rgba(0, 0, 0, .15);


    }



    .nav.active {

        right: 0;

    }



    .nav a {

        font-size: 1.2rem;

    }


}



/* CELULAR */

@media(max-width:576px) {


    .header {

        padding: 15px 0;

    }


    .logo h2 {

        font-size: 1.3rem;

    }


    .logo svg {

        font-size: 1.5rem;

    }



    .nav {

        width: 100%;

    }


}